h2 {
    color: red;
}

/*.container[role=main] {
margin: 75px 0 0 0;}*/

button{
 background-color: #5bd75b;
 border: none;
 color: white;
 text-align: center;
 font-weight: bold;
 border-radius: 4px;
 margin-top:1px;
 margin-left:10px;
}
  h3 {
    color:#b3b3b3;
    margin-left:10px;
}
.register-form {
margin-top: 200px;
    margin-bottom: 100px;
    margin-left:25%;
    margin-right:25%;

}

.chirp {
    .margin: 10px 0;
}

.username {
    font-size: 16px;
}

.row-container {
margin-top: 100px;
}

.error-field {
    border-color: red;
}
label,input{
margin-left:7%;
 margin-right:7%;
}
#header-form,#header-login{

background-color:#0073e6;
border-style:solid;
border-color:#5bd75b;
border-width: 1px;
border-radius: 2px;
margin-bottom:10px;
}
#all-form,#login-pg{
background-color:#ffff99;
border-style:solid;
border-color:#5bd75b;
border-width: 1px;
border-radius: 5px;
}
input{
float:right;
border-radius:2px;
border:1px solid;
border-color:#e6e6e6;
 width: 200px;
}
.pull-right{
padding-top:5px;
}
#l{
margin-right:10px;
}

.butn{
 margin-left:460px;
 padding:5px;
 margin-bottom:10px;
}

a.btn.btn-primary{
margin-left:5px;
}

.profile-icon {
    padding: 20px;
    border: 1px solid #383838;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 30px;
    margin-left:10px;
}
.follow {
  padding-left: 20px;
  padding-right: 20px;
  }


.col-xs-3,.col-xs-9{
margin-top:100px;
}

.num{
margin-left:10px;
color:#337ab7;
background-color:#ffff99;
}
body{
background-image:url("https://images3.alphacoders.com/616/616140.jpg");
background-size:cover;
background-repeat:no-repeat;
background-position:center center;
background-position:0 50px;
background-attachement:fixed;

}
button.btn.btn-primary.follow{
margin-left:5px;
float:left;
}

input#id_status{
float:left;
margin-left:5px;
margin-right:5px;
border-radius: 2px;
    border: 1px solid;
    border-color: #5bd75b;
    width: 200px;
    background-color:#ffff99;
}

label#sts{
float:left;
margin-right:5px;

}

form#f{
margin-bottom:5px;
}

div.panel-body{
 background-color:#ffff99;
   border: 1px solid;
border-color:#5bd75b;
}

span.glyphicon.glyphicon-user.profile-icon{
background-color:#ffff99;
}
.font{
color:#337ab7;
background-color:#ffff99;
}